@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game {
    min-width: 300px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px 2px #ccc;
    margin: 0 16px;
    padding: 16px 8px;
    border-radius: 8px;
    font-size: 14px;
}

.game__description {
    text-align: left;
}

.game__form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.game__form-guess {
    margin-right: 4px;
    flex-basis: 60%;
}

.game__form-input, .game__form-button {
    border: 1px solid #ccc;
    margin:2px 0;
}

.game__form-submit {
    flex-basis: 30%;
    margin-left: auto;
    margin-right: auto;
}

.game__form-button {
    transition: .2s linear;
    width: 100%;
    padding: 1px 0;
}

.game__form-button:hover {
    background: #aaa;
    cursor: pointer;
}